@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.hero {  
    background-image: url("/media/bgOflandscape.png");   
    background-size: cover;  
    background-position: center;  
    height: 100vh;   
    position: relative;  
    color: white;  
    text-align: center;  
}  
.form-group{
    display: flex;
    flex-direction: column;
}
.form-group label{
    font-size: 20px;
}
.form-group input{
   width: 100% !important;
}

.overlay {  
    position: absolute;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    /* background: rgba(0, 0, 0, 0.5);  */
    display: flex;  
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
}  

.title {  
    font-size: 3em;
    font-family: 'Brush Script MT', cursive;   
    margin: 10px;
    font-size: 157.43px;
    font-weight: 400;
    line-height: 223.68px;
    text-align: left;
}  

.subtitle {  
    font-size: 1.5em;  
    margin: 0;  
} 
main {
    position: relative;
    margin: auto;
    margin-top: -55px;
    width: 75%;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #F8F8F8;
}
.main-header .in {
    background-color: #FFFFFF;
    cursor: default;
}


.main-header .div {
    
    min-width: 25%;
    box-sizing: border-box;
}

.main-header .div a {
    font-family: 'Poppins';
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: #343434;

}

.main-header .div div {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.main-header li {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.main-header .div div img {
    margin-right: 10px;
}
.main-container{
    display: flex;
    flex-direction: row;
    padding: 25px;
}

.left-section{
    width: 63.5%;
}
.left-section .first-p{
    display: flex;
    align-items: center;
    padding: 4px 0;
    margin-top: 5px;
}
.left-section .first-p .span1{
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 31.62px;
    line-height: 40.79px;
    color: #181E4B;
    width: auto;
    height: 41px;
    margin-right: 40px;
}
.left-section .first-p .span2{
    font-family: 'poppins';
    font-weight: 500;
    font-size: 29.03px;
    line-height: 43.55px;
    color: #DF6951;
    width: auto;
    height: 44px;
}
.left-section .first-p .span3{
    color: #7D7D7D;
    font-size: 40px;
    margin: 0 5px;
}
.left-section .first-p .span4{
    font-family: 'Poppins';
    color: #7D7D7D;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.left-section .second-p{
    display: flex;
    align-items: center;
}
.left-section .second-p img{
    padding: 0 1.2px;
}
.left-section .second-p span{
    margin-left: 13px;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #5E6282;
    width: auto;
    height: 26px;
}
.left-section .third-p{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    margin-top: 25px;
    padding-right: 8px;
}
.left-section table{
    margin-top: 27px;
}
.left-section table .table-meta{
    display: block;
    font-family: 'poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 57px;
    width: 255px;
    color: #DF6951;
}
.left-section table .table-data{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 57px;
    color: #000000;
    width: 100%;}
    .left-section table .table-data .span1{
        display: flex;
        align-items: center;
        margin-right: 90px;
    }
    .left-section table .table-data .span2{
        display: flex;
        align-items: center;
        flex-wrap: wrap ;
    }
.left-section table .table-data img{
    padding-right: 8px;
}
.left-section .fourth-p{
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 2rem;
    line-height: 71.04px;
    color: #181E4B;
    width: 417px;
    height: 72px;
    margin-top: 50px;
}
.left-section .fifth-p{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}
.left-section .pictures{
    display: inline-block;
    width: 100%;
    margin-top: 50px;
}
.left-section .pictures div{
    display: inline-block;
    width: 31.5%;
    margin-bottom: 10px;
    margin-right: 7px;
    height: 240px;
}
.left-section .pictures div img{
    width: 100%;
    height: 100%;
}

.right-section{
    width: 36.5%;
}
.right-section .form-container {
    background-color: #ececec;
    padding: 20px;
    margin: auto;
}
.right-section h2 {
    display: flex;
    font-family: "Volkhov", serif;
    font-weight: 700;
    color: #181E4B;
    font-size: 35px;
    line-height: 54.18px;
    justify-content: center;
}
.right-section .form-container p{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    box-sizing: border-box;
    padding-bottom: 15px;
}
.right-section .form-group {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
    
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group input[type="number"] {
    font-family: 'poppins';
    width: 85%;
    height: 55px;
    padding: 10px;
    border: 0px solid #ddd;
}
.right-section textarea{
    font-family: 'poppins';
    width: 85%;
    height: 55px;
    padding: 10px;
    border: 0px solid #ddd;
}
.right-section .button-container button {
    font-family: 'poppins';
    display: block;
    margin: auto;

    height: 50px;
    padding: 10px;
    margin-top: 16px;
    margin-bottom: 10px;
    border: none;
    border-radius: 9px;
    color: #FFFFFF;
    font-size: 16.72px;
    line-height: 25.07pxv;
    font-weight: 600;
    cursor: pointer;
    background-color: #DF6951;
}
.right-section .form-group i{
    display: flex;
    align-items: center;
    margin-left: -28px;
    opacity: 0.9;
}
.right-section .hidden{
    visibility: hidden;
}
.right-section .div-form{
    width: 100%; 
    margin: 24.99px;
}
.right-section .under-form{
    width: 100%;
    height: 400px;
}

/* footer  */


.footer {
    background-image: url('../media/footer/img/footer-img.jpeg');
    background-size: cover;
    background-position: right;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #000;
    margin-top: 20px;
    padding: 20px;
    line-height: 26px;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

.footer-main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    z-index: 2;
}

.footer-main div {
    flex: 1 1 200px;
    margin: 10px;
}

/* .footer-main img {
    max-width: 120px;
} */
.footer-main .p{
    font-weight: 500;
    opacity: 50%;
}
.icon-row {
    display: flex;
    gap: 10px;
}

/* .icon-row a img {
    width: 30px;
    height: 30px;
} */

footer h4 {
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin: 5px 0;
    color: #000000;
    opacity: 50%;
}

.footer-main-Newsletter {
    display: inline-block;
    align-items: center;
}
.footer-main-Newsletter-bp{
    display: flex;
}
.footer-main-Newsletter input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px; 
    background-color: #EEEEFF;
    flex: 1; 
}

.footer-main-Newsletter button {
    padding: 10px;
    background-color: #DF6951;
    color: #282c34;
    border: none;
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
}

.footer-main-Newsletter button:hover {
    background-color: #ff2a00;
}

.footer-end {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #4444446f;
    padding-top: 10px;
    color: #000;
}
















/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Media Queries for .main-header */

/*Media Queries for button */
@media (max-width: 1510px) and (min-width: 993px){
    .right-section .button-container button{
        height: auto;
    }
}
@media (max-width: 1030px) {
    main {
        width: 90%;
    }

    
} 
    
/*Media Queries for .main-container */
@media (max-width: 992px) {
    .left-section, .right-section,.main-container {
        display: inline-block;
        float: none;
        width: 100%;
        height: auto;
    }
    .title {
        
        font-size: 90.43px;
       
    }
}





/*Media Queries for pictures */
@media (max-width: 743px){

    .left-section .pictures div{
        width: 47.9%;
    }

}
    /*Media Queries for table */
    @media (max-width: 621px){
    .left-section table .table-meta{
        width: 170px;
    }
    }




@media (max-width: 541px) {
    .left-section .first-p{
        display: inline-block;
    }
    .main-header .div {
        max-width: 100%;
    }
    /* span1 */
    .left-section .first-p .span1{
        width: 100%;
        margin-right: 200px;
    }
    
    .title {
        
        font-size: 50.43px;
       
    }
    .left-section .pictures div {
        width: 100%;
    }

}
@media (max-width: 496px){
    .right-section .button-container button{
        height: auto;
    }
}

@media (max-width: 400px){
   
    tr{
    display: flex;
    flex-direction: column;
}

}