/* footer.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.footer {
    background-image: url('/footer/img/footer-img.jpeg');
    background-size: cover;
    background-position: right;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #000;
    padding: 20px;
    line-height: 26px;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

.footer-main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    z-index: 2;
}

.footer-main div {
    flex: 1 1 200px;
    margin: 10px;
}

/* .footer-main img {
    max-width: 120px;
} */
.footer-main .p{
    font-weight: 500;
    opacity: 50%;
}
.icon-row {
    display: flex;
    gap: 10px;
}

/* .icon-row a img {
    width: 30px;
    height: 30px;
} */

h4 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

.footer-main-Newsletter {
    display: inline-block;
    align-items: center;
}
.footer-main-Newsletter-bp{
    display: flex;
}
.footer-main-Newsletter input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px; 
    background-color: #EEEEFF;
    flex: 1; 
}

.footer-main-Newsletter button {
    padding: 10px;
    background-color: #DF6951;
    color: #282c34;
    border: none;
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
}

.footer-main-Newsletter button:hover {
    background-color: #eba99c;
}

.footer-end {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #4444446f;
    padding-top: 10px;
    color: #000;
}

@media (max-width: 768px) {
    .footer-main {
        flex-direction: column;
        align-items: center;
    }

    .footer-main div {
        margin: 0;
        text-align: center;
    }
}