@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img {
    width: 100%;
    height: auto;
}

.img img {
    width: 100%;
    height: auto;
}

main {
    position: relative;
    margin: auto;
    margin-top: -55px;
    width: 75%;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}
.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: #F8F8F8;
}
.main-header .in {
    background-color: #FFFFFF;
    cursor: default;
}


.main-header .div {
    width: 100%;
    max-width: 25%;
    box-sizing: border-box;
}

.main-header .div a {
    font-family: 'Poppins';
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: #343434;

}

.main-header .div div {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.main-header li {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.main-header .div div img {
    margin-right: 10px;
}
.main-container{
    display: flex;
    flex-direction: row;
    padding: 25px;
}

.left-section{
    width: 63.5%;
}

.left-section .first-p{
    display: flex;
    align-items: center;
    align-items: center;
    padding: 4px 0;
}
.left-section .first-p {
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 31.62px;
    line-height: 40.79px;
    color: #181E4B;
    width: 188px;
    height: 41px;
    margin-right: 40px;
    margin-bottom: 25px;
}

.left-section .day{
    display: flex;
    flex-direction: row;
}
.left-section .day .day-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 7%;
    margin-right: 30px;
}
.left-section .day .day-left .day-icon{
    height: 47px;
    width: 47px;
}
.left-section .day .day-left .line{
    height: 100%;
}
.left-section .day .day-left .line img{
    height: 100%;
    width: 100%;
}

.left-section .day .day-right{
    padding-top: 9px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.left-section .day .day-right .name{
    font-family: 'poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #181E4B;
    margin-bottom: 7px;

}
.left-section .day .day-right .description{
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181E4B;
    margin-bottom: 30px;

}
.left-section .day .day-right .features{
    display: flex;
    align-items: center;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #181E4B;
    margin-bottom: 15px;
}
.left-section .day .day-right .features img{
    padding-right: 5px;
}

.right-section{
    width: 36.5%;
}
.right-section .form-container {
    background-color: #ececec;
    padding: 20px;
    margin: auto;
}
.right-section h2 {
    display: flex;
    font-family: "Volkhov", serif;
    font-weight: 700;
    color: #181E4B;
    font-size: 35px;
    line-height: 54.18px;
    justify-content: center;
}
.right-section .form-container p{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    box-sizing: border-box;
    padding-bottom: 15px;
}
.right-section .form-group {
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
    
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group input[type="number"] {
    font-family: 'poppins';
    width: 85%;
    height: 55px;
    padding: 10px;
    border: 0px solid #ddd;
}
.right-section textarea{
    font-family: 'poppins';
    width: 85%;
    height: 55px;
    padding: 10px;
    border: 0px solid #ddd;
}
.right-section .button-container button {
    font-family: 'poppins';
    display: block;
    margin: auto;
    width: 49%;
    height: 50px;
    padding: 10px;
    margin-top: 16px;
    margin-bottom: 10px;
    border: none;
    border-radius: 9px;
    color: #FFFFFF;
    font-size: 16.72px;
    line-height: 25.07pxv;
    font-weight: 600;
    cursor: pointer;
    background-color: #DF6951;
}
.right-section .form-group i{
    display: flex;
    align-items: center;
    margin-left: -28px;
    opacity: 0.9;
}
.right-section .hidden{
    visibility: hidden;
}
.right-section .div-form{
    width: 100%; 
    margin: 24.99px;
}
.right-section .under-form{
    width: 100%;
    height: 400px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Media Queries for .main-header */
@media (max-width: 1030px) {
    main {
        width: 90%;
    }

    .main-header .div {
        max-width: 50%;
    }
}

/*Media Queries for .main-container */
@media (max-width: 992px) {
    .left-section, .right-section,.main-container {
        display: inline-block;
        float: none;
        width: 100%;
        height: auto;
    }
}


/*Media Queries for button */
@media (max-width: 1510px) and (min-width: 993px){
    .right-section .button-container button{
        height: auto;
    }
}
@media (max-width: 496px){
    .right-section .button-container button{
        height: auto;
    }
}
